.bg_red {
	background-color: $red;
}
.bg_green {
	background-color: $green;
}
.bg_blue {
	background-color: $blue;
}
.bg_yellow {
	background-color: $yellow;
}
.bg_orange {
	background-color: $orange;
}
.bg_black {
	background-color: $black;
}
.bg_white {
	background-color: $white;
}
.bg_grey0 {
	background-color: $grey0;
}
.bg_grey1 {
	background-color: $grey1;
}
.bg_grey2 {
	background-color: $grey2;
}
.bg_grey3 {
	background-color: $grey3;
}
.bg_grey4 {
	background-color: $grey4;
}
.bg_grey5 {
	background-color: $grey5;
}
.bg_grey6 {
	background-color: $grey6;
}
.bg_grey7 {
	background-color: $grey7;
}
.bg_grey8 {
	background-color: $grey8;
}
.bg_grey9 {
	background-color: $grey9;
}
.bg_greya {
	background-color: $greya;
}
.bg_greyb {
	background-color: $greyb;
}
.bg_greyc {
	background-color: $greyc;
}
.bg_greyd {
	background-color: $greyd;
}
.bg_greye {
	background-color: $greye;
}
.bg_greyf {
	background-color: $greyf;
}

.color_red {
	color: $red;
}
.color_green {
	color: $green;
}
.color_blue {
	color: $blue;
}
.color_yellow {
	color: $yellow;
}
.color_orange {
	color: $orange;
}
.color_black {
	color: $black;
}
.color_white {
	color: $white;
}
.color_grey0 {
	color: $grey0;
}
.color_grey1 {
	color: $grey1;
}
.color_grey2 {
	color: $grey2;
}
.color_grey3 {
	color: $grey3;
}
.color_grey4 {
	color: $grey4;
}
.color_grey5 {
	color: $grey5;
}
.color_grey6 {
	color: $grey6;
}
.color_grey7 {
	color: $grey7;
}
.color_grey8 {
	color: $grey8;
}
.color_grey9 {
	color: $grey9;
}
.color_greya {
	color: $greya;
}
.color_greyb {
	color: $greyb;
}
.color_greyc {
	color: $greyc;
}
.color_greyd {
	color: $greyd;
}
.color_greye {
	color: $greye;
}
.color_greyf {
	color: $greyf;
}
